<tr>
<td><%= @eatery.name %></td>
<td>|<td>
<td><%= @eatery.address %></td>
<td>|<td>
<td><a href="<%= @eatery.url %>">Website</a></td>
<% deals = @eatery.find_deals %>
<% if deals != nil %>
<p>Deals:</p>
<ul>
<% for deal in deals %>
<li><a href="/deals/<%= deal.id %>"><%= deal.name %></a></li>
<% end %>
</ul>
<% end %>

<% burgers = @eatery.find_burgers %>
<% if burgers != nil %>
<p>Burgers:</p>
<ul>
<% for burger in burgers %>
<li><%= burger.name %></li>
<% end %>
</ul>
<% end %>

<form class="" action="/eateries/<%= @eatery.id %>" method="post">

<label for="eatery_id"></label>
<input type="hidden" name="eatery_id" value="<%= @eatery.id %>">

<input type="submit" value="Create new burger">

</form>


</tr>
