<div class="grid">
<div class="cell">
  <img class="img" src="<%= @eatery.img_src %>" alt="<%= @eatery.name %> logo">
  <br />
  <br />
  <h1><%= @eatery.name %></h1>
  <br />
    <h3>Address: <%= @eatery.address %></h3>
    <br />
      <h3><a class="link" href="<%= @eatery.url %>">Website</a></h3>
      <br />
      <% deals = @eatery.find_deals %>
      <% if deals != nil %>
      <br />
      <h2>Deals:</h2>
      <ul>
      <% for deal in deals %>
      <h3><li class="list"><a class="link" href="/deals/<%= deal.id %>"><%= deal.name %></a></li></h3>
      <% end %>
    </ul>
    <% end %>
    <br />
    <% burgers = @eatery.find_burgers %>
    <% if burgers != nil %>
    <h3>Burgers:</h3>
    <ul>
    <% for burger in burgers %>
    <p><%= burger.name %></p>
    <p>Price: <%= "%.2f" % burger.price %></p>
    <br />
    <% end %>
  </ul>
  <% end %>
</div>
</div>

<a class="button" href="/deals/new">Create a new deal!</a>
<a class="button" href="/eateries/<%= @eatery.id %>/new">Create a new burger!</a>
