<p>All deals:</p>
<ul>
<% for deal in @deals %>
<% eatery = deal.find_eatery %>
<li>
<tr>
  <td><a class="link" href="/deals/<%= deal.id %>"><%= deal.name %></a>, available on <%= deal.day_name %></td>
  <td>|</td>
  <td>Discount: <%= (deal.discount_decimal * 100) %>%</td>
  <td>|</td>
  <td><a class="link" href="/eateries/<%= eatery.id %>">Show all deals offered by <%= eatery.name %></a></td>
</tr>
</li>
<% end %>
</ul>

<a class="button" href="/deals/new">Create a new deal!</a>
