<ul>
<% for deal in @deals %>
<% eatery = deal.find_eatery %>
<li>
<tr>
  <td><a href="/deals/<%= deal.id %>"><%= deal.name %></a></td>
  <td>|</td>
  <td>Discount = <%= deal.discount_decimal %></td>
  <td>|</td>
  <td><a href="/eateries/<%= eatery.id %>">Show other deals offered by <%= eatery.name %></a></td>
</tr>
</li>
<% end %>
</ul>
