<tr>
<td><%= @deal.name %>, available on <%= @deal.day %></td>
<td>|<td>
<td><%= @deal.discount_decimal %></td>
<% eatery = @deal.find_eatery %>
<ul>
  <li>
    Exclusively available at <a href="/eateries/<%= eatery.id %>"><%= eatery.name %></a>
  </li>
</ul>
</tr>
