<tr>
<td><%= @deal.name %>, available on <%= @deal.day %></td>
<td>|<td>
<td><%= @deal.discount_decimal %></td>
<% burgers = @deal.show_burgers %>
<p>Deal applies to the following burgers:</p>
<ul>
<% for burger in burgers %>
  <li>
    <%= burger.name %>
  </li>
  <ul>
  <li>
    <p>Price: <%= burger.price %></p>
  </li>
</ul>
<% end %>
</ul>
<% eatery = @deal.find_eatery %>
<p>Exclusively available at <a href="/eateries/<%= eatery.id %>"><%= eatery.name %></a></p>
</tr>
